{% extends 'core/base.html' %}
{% block title %}Términos y Condiciones{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Términos y Condiciones</h2>
    <p>Bienvenido a enMASKra2. Al registrarte y usar nuestra plataforma aceptas los siguientes términos:</p>

    <ul>
        <li>Solo puedes registrarte si eres mayor de 18 años.</li>
        <li>El contenido es exclusivo y está protegido por derechos de autor.</li>
        <li>Está prohibida la distribución no autorizada del contenido adquirido.</li>
    </ul>

    <p>Nos reservamos el derecho de suspender cuentas que incumplan estas condiciones.</p>
</div>
{% endblock %}
